@import 'variables';
@import 'element-ui';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@font-face {
    font-family: 'RoadRadio';
    src: url('@/assets/fonts/RoadRadio-Bold.eot');
    src: local('RoadRadio Bold'), local('RoadRadio-Bold'),
        url('@/assets/fonts/RoadRadio-Bold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/RoadRadio-Bold.woff2') format('woff2'),
        url('@/assets/fonts/RoadRadio-Bold.woff') format('woff'),
        url('@/assets/fonts/RoadRadio-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    outline: none;
}

h1 {
    font-family: 'RoadRadio';
}

p {
    font-size: 20px;
}

.semibold {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.icon-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    padding: 80px calc(50% - 580px);

    &:hover {
        .edit-row {
            opacity: 1;
        }
        .add-block-button {
            opacity: 1;
        }
    }

    @media (max-width: 1200px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.block-hover::before,
.block-hover::after {
    content: '';
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px dashed #adadad;
    border-bottom: 1px dashed #adadad;
    opacity: 0;
}

.block-hover::before {
    top: -1px;
}

.block-hover::after {
    bottom: -1px;
}

.block-hover:hover::before,
.block-hover:hover::after {
    opacity: 1;
}

.merged-buttons {
    .button {
        border-radius: 0;
    }

    .button:first-child {
        border-radius: 4px 0 0 4px;
    }

    .button:last-child {
        border-radius: 0 4px 4px 0;
    }

    .button:not(:last-child) {
        border-right: 1px solid rgb(232, 232, 232);
    }
}

.switch-with-icon {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon-wrap {
        cursor: pointer;
    }
}
