$primary-color: #c0291c;
$primary-light-color: #ffcdc9;
$primary-text-color: #222222;
$secondary-text-color: #929292;
$primary-edit-color: #eb7272;

$dark-bg-color: #181818;
$dark-text-color: #f9f6f6;
